body {
  background-color: #EBECF0;
}

.App{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.button, .clearButton, .equalButton {
  border: 0;
  outline: 0;
  width: 50px;
  height: 50px;
  font-size: 16px;
  border-radius: 50%;
  padding: 16px;
  background-color: #EBECF0;
  text-shadow: 1px 1px 0 white;
  color:#61677C;
  font-weight: bold;
  box-shadow: -5px -5px 10px white,  5px 5px 10px #BABECC;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  margin: 10px;
}
.button:hover {
    box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}
.button:active {
    box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px white;
}
h1{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 247px;
  height: 50px;
  text-shadow: 1px 1px 0 white;
  padding: 0px 16px 0px 16px;
  color:#61677C;
  font-weight: bold;
  background-color: #EBECF0;
  border-radius: 300px;
  box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px white;
}

.clearButton {
  color:red;
}
.clearButton:hover {
  box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}
.clearButton:active {
  box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px white;
}

.equalButton {
  color:rgb(0, 184, 0);
}
.equalButton:hover {
  box-shadow: -2px -2px 5px white, 2px 2px 5px #BABECC;
}
.equalButton:active {
  box-shadow: inset 2px 2px 2px #BABECC, inset -2px -2px 2px white;
}